@model IEnumerable<MyCarsale.Client.Price>

<div class="container">
    <label>Price</label>
    <div class="row">
        <div class="col-md-2" id="model">
            <div class="form-group">
                

                <div class="dropdown">
                    @Html.DropDownList("Range", new SelectList(Model.Select(x => x.PriceRange.minvalue.ToString()), "minvalue", Model.Select(x => x.PriceRange.minvalue)).ToList(), "--- Min ---", new { @class = "btn btn-default dropdown-toggle" })
                </div>
            </div>
        </div>



        <div class="col-md-2" id="model">
            <div class="form-group">
         
                <div class="dropdown">
                    @Html.DropDownList("Range", new SelectList(Model.Select(x => x.PriceRange.minvalue.ToString()), "minvalue", Model.Select(x => x.PriceRange.minvalue)).ToList(), "--- Min ---", new { @class = "btn btn-default dropdown-toggle" })
                </div>
            </div>
        </div>

        <div class="col-md-8" id="model">
            
        </div>

    </div>
</div>